# Global settings
global.store-file=/truststore.jks
global.store-password=password

# Smart ID settings
smart-id.relying-party-uuid=11111111-0000-0000-0000-000000000000
smart-id.relying-party-name=DEMO POC
smart-id.host-url=https://sid.demo.sk.ee/smart-id-rp/v2

# AWS Cognito settings
cognito.region=
cognito.access-key-id=
cognito.secret-access-key=
cognito.user-pool-id=
cognito.user-pool-client-id=
cognito.user-pool-client-secret=
